<section class="buscador-maestros">
  <div class="container">
    <form (submit)="getStudentId()" class="searchForm">
      <mat-form-field appearance="fill" class="matForm">
        <mat-label>ID Estudiante</mat-label>
        <input matInput name="idSearch" [(ngModel)]="idSearch" class="form-control" placeholder="Búsqueda por Id de estudiante">
      </mat-form-field>
      <button mat-raised-button class='but'>BUSCAR</button>
    </form>
  </div>
</section>

<p *ngIf="isError" class="error">No se pudo obtener la lista</p>
<section class="clearfix" *ngIf="!isError">
  <div class="grid " id="data" *ngFor="let item of students">
    <div class="data-item col-12 col-md-6 col-lg-3 ">
      <mat-card class="example-card">
        <mat-card-title>Alumno {{item.userName}}</mat-card-title>
        <mat-card-subtitle>Id: {{item.id}}</mat-card-subtitle>
        <hr>
        <mat-card-content>
          <h3>Fecha de inscripción: {{item.inscriptionDate}}</h3>
          <h3>Graduación: {{item.graduationDate}}</h3>
          <h3>Faltas: {{item.abscences}}</h3>
          <h3>Clases tomadas: {{item.totalClasses}}</h3>
          <h3>Video de graduación: {{item.urlVideo}}</h3>
          <hr>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="newRecord(item.id)">Nuevo registro</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>
</section>
<p *ngIf="students.length === 0 && !isError && !isLoading">La lista esta vacía</p>
<p *ngIf="isLoading">Cargando...</p>
