<section class="buscador-maestros">
  <form (submit)="getStudentId()">
      <input name="idSearch" [(ngModel)]="idSearch" class="form-control backbackPrimary" placeholder="Student Id for search">
      <button class='but'>BUSCAR</button>
  </form>
</section>
<p *ngIf="isError" class="error">No se pudo obtener la lista</p>
<section class="clearfix" *ngIf="!isError">
  <div class="grid " id="data" *ngFor="let item of students">
    <div class="data-item col-12 col-md-6 col-lg-3 ">
      <h2>Alumno: {{item.userName}}</h2>
      <h2>Alumno id: {{item.id}}</h2>
      <h3>Fecha de inscripcion: {{item.inscriptionDate}}</h3>
      <h3>Graduacion: {{item.graduationDate}}</h3>
      <h3>Faltas: {{item.abscences}}</h3>
      <h3>Clases tomadas: {{item.totalClasses}}</h3>
      <h3>Video de graduacion: {{item.urlVideo}}</h3>
    </div>
  </div>
</section>
<p *ngIf="students.length === 0 && !isError && !isLoading">La lista esta vacia</p>
<p *ngIf="isLoading">Cargando...</p>
