<h1>Nuevo registro</h1>

<div class="grid " id="data" *ngFor="let item of students">
  <h2>Alumno: {{item.userName}}</h2>
  <h2>Id de Alumno: {{item.id}}</h2>

  <form [formGroup]="form" (submit)="postRecord" class="center-block">
    <div class="center-block">
      <mat-form-field appearance="fill" class="matField">
        <mat-label for="date">Fecha: </mat-label>
        <input matInput type="date" name="date" formControlName="date"
          placeholder="DD/MM/AAAA">
        <p *ngIf="!dateError"> Ingresa fecha válida </p>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="matField">
        <mat-label for="hour">Hora:</mat-label>
        <mat-select name="hour" formControlName="hour">
          <mat-option value="3 a 4">3 a 4</mat-option>
          <mat-option value="4 a 5">4 a 5</mat-option>
          <mat-option value="5 a 6">5 a 6</mat-option>
          <mat-option value="6 a 7">6 a 7</mat-option>
          <mat-option value="7 a 8">7 a 8</mat-option>
          <mat-option value="8 a 9">8 a 9</mat-option>
        </mat-select>
        <p *ngIf="!hourError"> Ingresa hora válida </p>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button (click)="postRecord()">Guardar</button>
    </div>
  </form>
</div>
