@use "sass:math";
$Primarycolor: rgb(248, 237, 237);
$Secondarycolor: black; 
$Paddingsides: 25px;


$max-cols: 12;
$position: "top";
$num-cols-list: 1, 2, 3, 4, 6, 8, 9, 12; 
.buscador-usuarios {
  margin-top: 2rem;
}

button {
  margin-left: .5rem;
}



@function getWidth($cols) {
    @return math.div($cols,$max-cols) * 95%;
}

.foo {
    position: absolute;
    #{$position}: 0;
}

.grid {
    > div[class*=col-] {
        float: left;
        min-height: 1px;
                
    }

    > .col-#{$max-cols} {
        width: 100%;
    }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}


@include tablet {
    .grid {
        // arreglo.forEach(item => {})
        @each $size in $num-cols-list {
            > .col-md-#{$size} {
                width: getWidth($size);

            }
        }
    }
}

@include desktop {
    .grid {
        // arreglo.forEach(item => {})
        @each $size in $num-cols-list {
            > .col-lg-#{$size} {
                width: getWidth($size);

            }
        }
    }
}

.dataformat{
    background-color: $Primarycolor;
}
#data{
    margin-top: 30px;
    width: 100%;
    padding: 5px
    px;
    
}
.data-item{
    @extend .dataformat;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 10px;
    border: solid 0.5px black;
}