#subir-button{
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: green;
    color: white;
    width: 6rem;
}

#cancelar-button{
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; 
    background-color:brown;
    color: white;
    width: 6rem;
}

#cambiar-button{
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
    width: 8rem;
}

#elegir-arch{
margin-left: 1rem;
}