<section class="Inicio">
  <header class="encabezado">
    <div class="container">
      <nav class="menu-principal">
        <ul>
          <button type="button" class="button-login"
            aria-expanded="false" routerLink="/login"  [appIsLogged]="false">LOGIN</button>
          <button type="button" class="button-sign-in" 
            aria-expanded="false" routerLink="/sign"   [appIsLogged]="false">SIGN IN</button>
          <button type="button" class="button-logout" 
            aria-expanded="false" [appIsLogged]="true" (click)="logOut()">LOGOUT</button>
        </ul>
      </nav>
    </div>
    <input type="checkbox" id="abrir-cerrar" name="abrir-cerrar" value="">
    <label for="abrir-cerrar">&#9776; <span class="abrir">Abrir</span><span class="cerrar">Cerrar</span></label>
    <div id="sidebar" class="sidebar">
        <ul class="menu">
          <li><button routerLink="/users">Usuarios </button></li>
          <li><button routerLink="/teachers">Maestros</button></li>
          <li><button routerLink="/students">Alumnos</button></li>
          <li><button routerLink="/classes">Clases</button></li>
          <li><button hrouterLink="/records">Registros</button></li>
        </ul>
    </div>
  </header>
</section>
