<section class="Inicio">
  <header class="encabezado">
    <div class="container">
      <nav class="menu-principal">
        <ul>
          <li><a routerLink="/users">Usuarios </a></li>
          <li><a routerLink="/teachers">Maestros</a></li>
          <li><a routerLink="/students">Alumnos</a></li>
          <li><a routerLink="/classes">Clases</a></li>
          <li><a hrouterLink="/r3ecords">Registros</a></li>
          <button type="button" class="button-login" data-target="#modelId"
            aria-expanded="false" routerLink="/login" >LOGIN</button>
          <button type="button" class="button-sign-in" data-target="#modelId"
            aria-expanded="false" routerLink="/sign" >SIGN IN</button>
          <button type="button" class="button-logout" data-target="#modelId"
            aria-expanded="false">LOGOUT</button>
        </ul>
      </nav>
    </div>
  </header>
</section>
