ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  button{
      color: black;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
      float: right;
      width: 10rem;
      height: 3rem;
  }
  
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  