.searchForm{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.matForm{
    width: 100%;
}

.example-card{
  max-width: 400px;
  background-color: azure;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: 2px solid black;
}