h1 {
  color: mediumblue;
  margin-top: 1rem;
  text-align: center;
}

h5 {
  color: gray;
  text-align: center;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center
}

label {
  display: block;
}

button {
    background-color: blue;
    color: white;
    width: 10rem;
    margin-top: 1rem;
}

input {
  border-radius: 11px;
  font-size: 15px;
  height: 20px;
  width: 350px;
}

p{
    color: red;
}
