<section class="buscador-students">
  <div class="container">
    <form (submit)="getRecords()" class="searchForm">
      <mat-form-field appearance="fill" class="matForm">
        <mat-label>ID Estudiante</mat-label>
        <input matInput name="studenstId" [(ngModel)]="studentsId" class="form-control"
          placeholder="Búsqueda por Id de estudiante">
      </mat-form-field>

      <mat-form-field appearance="fill" class="matForm" *ngIf="roleAdmin">
        <mat-label>ID Maestro</mat-label>
        <input matInput name="teachersId" [(ngModel)]="teachersId" class="form-control backbackPrimary"
          placeholder="Búsqueda por Id de maestro">
      </mat-form-field>
      <button mat-raised-button class='but'>BUSCAR</button>
    </form>
  </div>
</section>

<p *ngIf="isError" class="error">No se pudo obtener la lista</p>
<section class="clearfix" *ngIf="!isError">
  <div class="grid " id="data" *ngFor="let item of records">
    <div class="data-item col-12 col-md-6 col-lg-3 ">
      <mat-card class="example-card">
        <mat-card-title>Alumno</mat-card-title>
        <mat-card-subtitle>Alumno: {{item.student[0].userName}}</mat-card-subtitle>
        <hr>
        <mat-card-content>
          <h3>Alumno id: {{item.student[0].id}}</h3>
          <h3>Maestro: {{item.teacher[0].userName}}</h3>
          <h3>Id de maestro: {{item.teacher[0].id}}</h3>
          <h3>Fecha: {{item.date}}</h3>
          <h3>Horario: {{item.hour}}</h3>
          <h3>Estado: {{item.status}}</h3>
          <hr>
        </mat-card-content>
        <mat-card-actions *ngIf="(item.status!='Cancelada') && (item.status!='Completada')">
          <button mat-raised-button *ngIf="(roleStudent) && (item.status=='Por confirmar')" class="update" (click)="putRecord(item._id,'Confirmada')">Confirmar</button>
          <button mat-raised-button *ngIf="(!roleStudent) && (item.status=='Confirmada')" class="update" (click)="putRecord(item._id,'Completada')">Completar</button>
          <button mat-raised-button *ngIf="(!roleStudent)" class="update" (click)="putRecord(item._id,'Cancelada')">Cancelada</button>
        </mat-card-actions>
      </mat-card>
  
      </div> 
    </div>
  </section>
  <p *ngIf="records.length === 0 && !isError && !isLoading">La lista esta vacía</p>
  <p *ngIf="isLoading">Cargando...</p> 
