h1 {
  color: mediumblue;
  margin-top: 1rem;
  text-align: center;
}

h5 {
  color: gray;
  text-align: center;
}

.boton-login {
  background-color: green;
  color: white;
  width: 10.7rem;
  border-color: transparent;
  transition: all .5s ease;
}

.boton-login:hover{ 
  background-color: rgb(116, 74, 199);
  border-color: transparent;
  
}

.matField{
  width: 50%;
}

.formulario {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}