<h2>Register </h2>
<p>
    --{{form.valid}}--
</p>
<form [formGroup]="form"> 
    <div>   
        <label for="userName">Nombre: </label>
        <input type="text" name="userName" formControlName="userName">
    </div>
    <div>   
        <label for="email">Email: </label>
        <input type="email" name="email" formControlName="email">
    </div>
    <div>   
        <label for="password">Password: </label>
        <input type="password" name="password" formControlName="password">
    </div>
    <div>   
        <label for="confirm">Confirmar password: </label>
        <input type="password" name="confirm" formControlName="confirm">
    </div>
    <div>   
        <button>Signup</button>
    </div>    
</form>
