<section class="sign-in">
    <div class="container">
        <form action="" class="formulario">
            <label id="email"></label>
            <input required type="email" placeholder="Email"> <br><br>
            <label class="password"></label>
            <input required type="password" placeholder="Contraseña"><br> <br>
            <label class="username"></label>
            <input required type="text" placeholder="Nombre de usuario"><br><br>
            <button class="boton-aceptar">Aceptar</button>
            <button class="boton-cancelar">Cancelar</button>
        </form>
    </div>
</section>
