<section class="sign-in">
    <div class="container">
        <form  class="formulario" (submit)="sign()">
            <label for="email"></label>
            <input required type="email" placeholder="Email" name="email" [(ngModel)]="email"> <br><br>
            <label for="password"></label>
            <input required type="password" placeholder="Password" name="password" [(ngModel)]="password"><br> <br>
            <label for="username"></label>
            <input required type="text" placeholder="Nombre de usuario"name="name" [(ngModel)]="name"><br><br>
            <button class="boton-aceptar" >Aceptar</button>
            <button class="boton-cancelar" >Cancelar</button>
        </form>
    </div>
</section>
